<nav class="navigation">
  <ul class="navigation__group">
    <li><a routerLink="/home" routerLinkActive="active-link" class="navigation__item">home</a></li>
    <li><a routerLink="/recognize" routerLinkActive="active-link" class="navigation__item">recognize</a></li>
    <li><a routerLink="/leaderboard" routerLinkActive="active-link" class="navigation__item">leaderboard</a></li>
    <li><a routerLink="/programs" routerLinkActive="active-link" class="navigation__item">programs</a></li>
    <li><a routerLink="/activity" routerLinkActive="active-link" class="navigation__item">activity</a></li>
  </ul>
</nav>
