.message {
  margin-top: 1.875rem;

  &__title {
    font-size: 2.125rem;
    font-weight: 600;
    color: var(--secondary-title-color);
    text-transform: uppercase;
  }

  &__description {
    margin-top: 0.9375rem;
    background-color: var(--mat-secondary-bg-color);
    font-size: 1.375rem;
    color: var(--secondary-color);
    padding: 0.9375rem 0.625rem;
  }
}
