<header class="header">
  <div class="header__container">
    <img src="/assets/image/page_header_logo.png" alt="" class="header__logo">
    <div class="header__contacts">
      <a href="mailto: name@email.com" class="header__email">
        <img src="/assets/icon/mail.svg" alt="icon email" class="header__email-icon">
      </a>
      <a href="#" target="_blank" class="header__status">
        <img src="/assets/icon/status.svg" alt="status" class="header__status-icon">
      </a>
      <a href="tel:+1-847-555-5555" class="header__phone">
        <img src="/assets/icon/phone.svg" alt="icon phone" class="header__phone-icon">
      </a>
    </div>
  </div>

  <app-header-nav></app-header-nav>
</header>
