<div class="home">
  <div class="home__intro">
    <p class="home__intro-text">recognize someone now</p>
    <div class="home__intro-line"></div>
  </div>
  <div class="home__container">
    <app-dashboard class="home__dashboard"></app-dashboard>
    <div class="home__wrap">
      <app-recognize class="home__recognize"></app-recognize>
      <app-message class="home__message"></app-message>
      <app-preview class="home__preview"></app-preview>
      <app-send-copy class="home__send-copy"></app-send-copy>
    </div>
  </div>
</div>
