:root {
  --primary-font-family: "DM Sans", sans-serif;
  --secondary-font-family: Inter, Roboto, sans-serif;

  --mat-primary-bg-color: #27a6c6;
  --mat-secondary-bg-color: #4d4963;
  --primary-color: silver;
  --secondary-color: white;
  --secondary-title-color: #3b2e8b;
  --secondary-subtitle-color: rgb(25, 21, 21);
  --primary-description-color:rgba(255, 255, 255, 0.557);
  --bolt-text: rgb(255, 217, 0);
  --primary-select-color: rgb(142, 139, 139);
}
